{% extends 'admin_extra_buttons/change_form.html' %}
{% comment %} {% extends 'admin/change_form.html' %} {% endcomment %}
{% block submit_buttons_bottom %}
<div class="submit-row">
  {% if already_published %}
    <input type="submit" value="Update in Bildungsraum" name="_publish_to_bildungsraum"{% if not can_publish %} disabled{% endif %}>
  {% else %}
    <input type="submit" value="Publish to Bildungsraum" name="_publish_to_bildungsraum"{% if not can_publish %} disabled{% endif %}>
  {% endif %}
    <input type="submit" value="Unpublish from Bildungsraum" name="_unpublish_from_bildungsraum"{% if not can_unpublish %} disabled{% endif %}>
    {% comment %} <input type="submit" value="Build Dashboard" name="_build_dashboard">
    <input type="submit" value="Start Dashboard" name="_start_dashboard" {% if not can_start_dashboard %}disabled{% endif %}>
    <input type="submit" value="Stop Dashboard" name="_stop_dashboard" {% if not can_stop_dashboard %}disabled{% endif %}> {% endcomment %}
</div>
{{ block.super }}
{% endblock %}